@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Source+Sans+Pro:300,400,700');
* {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
b {
    font-family: 'Cabin', sans-serif;
}

body {
    color: #34495e;
    background-color: #fff;
    margin: 0;
    padding-top: 61px;
}

.main {
    z-index: 1;
    padding: 0 60px 30px;
    overflow-x: hidden;
    position: static;
    @media screen and (max-width: 900px) {
        padding: 2em 1.4em 0;
    }
}

a {
    color: #3377c0;
    text-decoration: none;
    &:hover {
        color: #2f6cb6;
        text-decoration: underline;
    }
}
