@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Source+Sans+Pro:300,400,700');
* {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
b {
    font-family: 'Cabin', sans-serif;
}

body {
    color: #34495e;
    background-color: #fff;
    margin: 0;
    padding-top: 61px;
}

.main {
    z-index: 1;
    padding-left: 60px;
    overflow-x: hidden;
    position: static;
    @media screen and (max-width: 900px) {
        padding: 2em 1.4em 0;
    }
}

.content {
    position: relative;
    padding: 2.2em 0;
    margin: 0 auto;
    max-width: 700px;
    padding-left: 50px;
    @media screen and (max-width: 1300px) {
        margin-left: 290px;
    }
    @media screen and (max-width: 900px) {
        margin: auto;
        padding-left: 0;
    }
    .title {
        text-align: center;
    }
    .footer {
        color: #7f8c8d;
        margin-top: 2em;
        padding-top: 2em;
        border-top: 1px solid #e5e5e5;
        font-size: 0.9em;
    }
}

a {
    color: #3377c0;
    text-decoration: none;
    &:hover {
        color: #2f6cb6;
        text-decoration: underline;
    }
}

.initial-appear {
    opacity: 0.01;
}

.initial-appear.initial-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.initial-enter {
    opacity: 0.01;
}

.initial-enter.initial-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.initial-leave {
    opacity: 1;
}

.initial-leave.initial-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
