{
  "extends": "airbnb",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": "off"
  },
  "env": {
    "browser": true
  }
}
