.twitter-share-button {
    border: 1px solid rgba(156, 39, 176, 0.45);
    padding: 0 10px;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    &:hover {
        background-color: #9c27b0;
        color: #fff;
    }
}
