div.contribute {
    pre {
        font-size: 12px;
        line-height: 24px;
        padding: 0 20px;
        background-color: #f3f3f3;
        border-radius: 20px;
        white-space: pre-wrap;
    }
    ol li {
        padding: 5px 0;
    }
}
