div.contribute {
  height: 100vh;
  position: relative;
  text-align: center;
  iframe {
    width: 100%;
    position: absolute;
    height: 100%;
    margin-bottom: 50px;
    text-align: initial;
    left: 0;
  }
  pre {
    font-size: 12px;
    line-height: 24px;
    padding: 0 20px;
    background-color: #f3f3f3;
    border-radius: 20px;
    white-space: pre-wrap;
  }
  ol li {
    padding: 5px 0;
  }
}
