.category {
    .title {
        text-align: center;
    }

    ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0 auto;

        .course {
            background: #fff;
            position: relative;
            max-width: 250px;
            box-shadow: 0 0 1px 1px hsla(0, 0%, 7%, 0.1), 0 3px 1px 0 hsla(0, 0%, 7%, 0.1);
            border-radius: 15px;
            margin: 20px;
            transition: all 1.5s ease;

            &:hover {
                box-shadow: 0px 0px 40px hsla(0, 0%, 0%, 0.302);
                transform: translateY(-10px);
            }

            .title {
                color: #000;
                padding-top: 0;
            }
        }
    }

    .description,
    .categories {
        padding: 0 15px;
    }

    .author {
        margin-top: 10px;
        color: #000;
        text-align: center;
    }

    .image {
        margin-bottom: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;

        img{
          width: 100%;
        }
    }

    .text-description {
        color: #9c9c9c;
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .flags {
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .flag-icon {
            margin: 10px;
        }
    }

    .categories {
        padding: 0;
        padding-bottom: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .tag {
            background-color: #41bb14;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            font-size: 10px;
            font-style: normal;
            margin: 10px;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: #1b5f00;
                font-size: 12px;
            }
        }
    }
}
