.category {
    .title {
        text-align: center;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        .course {
            cursor: pointer;
            flex-basis: 20%;
            min-width: 170px;
            box-shadow: 0 0 1px 1px hsla(0, 0%, 7%, .1), 0 3px 1px 0 hsla(0, 0%, 7%, .1);
            border-radius: 15px;
            margin-bottom: 20px;
            margin-right: 20px;
            transition: box-shadow 0.3s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 40px #000000;
            }
            .description,
            .categories {
                padding: 0 15px;
            }
            .author {
                margin: 0;
            }
            .image {
                margin-bottom: 5px;
                img {
                    width: 100%;
                    min-width: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    box-shadow: 0 4px 2px -2px gray;
                }
            }
            .text-description {
                color: #9c9c9c;
                font-size: 12px;
                line-height: 16px;
            }
            .categories {
                padding-bottom: 10px;
                i {
                    background-color: #52ca1c;
                    color: #fff;
                    padding: 5px;
                    border-radius: 5px;
                    font-size: 10px;
                    font-style: normal;
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }
    }
}

