.face {
    border: 1px solid rgba(59, 89, 152, 0.45);
    color: #3b5998;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    display: inline-block;

    &:hover {
        background-color: #3b5998;
        color: #fff;
    }
}

.twitter {
    border: 1px solid rgba( 29, 202, 255, 0.45);
    color: #1dcaff;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    display: inline-block;
    &:hover {
        background-color: #1dcaff;
        color: #fff;
    }
}
