.home {
    text-align: center;

    .title {
        padding-top: 0;
    }

    .stars {
        display: inline-block;
        background-color: #eee;
        border: 1px solid #d5d5d5;
        color: black;
        padding: 2px;
        border-radius: 5px;
        font-size: 12px;
    }

    h4 {
        text-align: center;
        font-size: 20px;
    }

    .contributors {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;

        li {
            list-style-type: none;
        }

        .contributor {
            margin: 20px;
            text-align: center;

            &__link {
                display: block;
                color: #d0021b;
            }
        }

        .avatar {
            width: 100px;
            border-radius: 50%;
        }
    }

    .bmc-button img {
        vertical-align: middle !important;
    }

    .bmc-button {
        text-decoration: none;
        display: inline-block !important;
        padding: 5px 10px !important;
        color: #FFFFFF !important;
        background-color: #FF813F !important;
        border-radius: 3px !important;
        border: 1px solid transparent !important;
        font-size: 16px !important;
        box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
        -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
        -webkit-transition: 0.3s all linear !important;
        transition: 0.3s all linear !important;
        margin: 0 auto !important;
        font-family: "Cookie", cursive !important;
    }

    .bmc-button:hover, .bmc-button:active, .bmc-button:focus {
        -webkit-box-shadow: 0 4px 16px 0 rgba(190, 190, 190, 0.45) !important;
        box-shadow: 0 4px 16px 0 rgba(190, 190, 190, 0.45) !important;
        opacity: 0.85 !important;
        color: #FFFFFF !important;
    }
}
