.home {
    text-align: center;
    .stars {
        background-color: #eee;
        border: 1px solid #d5d5d5;
        color: black;
        padding: 2px;
        border-radius: 5px;
        font-size: 12px;
    }
}
