.content {
    position: relative;
    padding: 2.2em 0;
    margin: 0 auto;
    max-width: 700px;
    padding-left: 50px;
    @media screen and (max-width: 1300px) {
        margin-left: 290px;
    }
    .show {
        opacity: 1;
    }
    .title {
        text-align: center;
    }
    .rounded-button {
        display: block;
        width: 200px;
        margin: 70px auto;
    }
    .footer {
        color: #7f8c8d;
        margin-top: 2em;
        padding-top: 2em;
        border-top: 1px solid #e5e5e5;
        font-size: 0.9em;
    }
    .stars {
        background-color: #eee;
        border: 1px solid #d5d5d5;
        color: black;
        padding: 2px;
        border-radius: 5px;
        font-size: 12px;
    }
    .course-details {
        img {
            border: 15px;
            display: block;
            width: 150px;
            margin: auto;
            border-radius: 15px;
            box-shadow: 0 0 1px 1px rgba(18, 18, 18, 0.1), 0 3px 1px 0 rgba(18, 18, 18, 0.1);
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        .course {
            cursor: pointer;
            flex-basis: 20%;
            min-width: 170px;
            box-shadow: 0 0 1px 1px hsla(0, 0%, 7%, .1), 0 3px 1px 0 hsla(0, 0%, 7%, .1);
            border-radius: 15px;
            margin-bottom: 20px;
            margin-right: 20px;
            .description,
            .categories {
                padding: 0 15px;
            }
            .author {
                margin: 0;
            }
            .image {
                height: 150px;
                overflow: hidden;
                img {
                    width: 100%;
                    min-width: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    box-shadow: 0 4px 2px -2px gray;
                }
            }
            .text-description {
                color: #9c9c9c;
                font-size: 12px;
                line-height: 16px;
            }
            .categories {
                padding-bottom: 10px;
                i {
                    background-color: #52ca1c;
                    color: #fff;
                    padding: 5px;
                    border-radius: 5px;
                    font-size: 10px;
                    font-style: normal;
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }
    }
    @media screen and (max-width: 900px) {
        margin: auto;
        padding-left: 0;
    }
}
