.content {
    position: relative;
    padding: 2.2em 0;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 50px;
    .show {
        opacity: 1;
    }
    @media screen and (max-width: 1300px) {
        margin-left: 290px;
    }
    .title {
        text-align: center;
    }
    .rounded-button {
        display: block;
        width: 200px;
        margin: 70px auto;
    }
    .footer {
        color: #7f8c8d;
        margin-top: 2em;
        padding-top: 2em;
        border-top: 1px solid #e5e5e5;
        font-size: 0.9em;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 930px;
        .course {
            display: flex;
            flex-basis: 33.33333%;
            padding: 15px 40px 15px 15px;
            margin-right: 20px;
            border-radius: 10px;
            cursor: pointer;
            &:hover {
                background-color: rgba(220, 220, 220, 0.37);
                transition: background-color 0.2s linear;
            }
            .categories {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding-right: 10px;
            }
            .tags i {
                background-color: #05a534;
                padding: 2px 6px;
                border-radius: 5px;
                color: #fff;
            }
            .title {
                margin: 0;
                color: #545454;
            }
            .title-holder {
                display: flex;
                margin-bottom: 3px;
            }
            .text-description {
                color: #878787;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    @media screen and (max-width: 900px) {
        margin: auto;
        padding-left: 0;
    }
}
