.rounded-button {
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #333;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #333;
    margin: 1em 0;
    font-size: 1.05em;
    letter-spacing: 0.1em;
    min-width: 8em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
