@import url("https://fonts.googleapis.com/css?family=Baloo+2:400,700|Montserrat:300,400,700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
b,
strong {
  font-family: "Baloo 2", cursive;
}

body {
  color: #34495e;
  background: #fff;
  margin: 0;
  padding-top: 61px;
}

.main {
  z-index: 1;
  overflow-x: hidden;
  position: static;

  @media screen and (max-width: 900px) {
    padding: 2em 1.4em 0;
  }
}

.content {
  position: relative;
  padding: 0 2em;
  margin: 0 auto;
  margin-left: 280px;

  @media screen and (max-width: 1300px) {
    margin-left: 290px;
  }

  @media screen and (max-width: 900px) {
    margin: auto;
    padding: 0;
  }

  .title {
    text-align: center;
    padding-top: 20px;
    color: #000;
  }

  .footer {
    color: #7f8c8d;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #e5e5e5;
    font-size: 0.9em;
  }
}

a {
  color: #9c27b0;
  text-decoration: none;
}

.initial-appear {
  opacity: 0.01;
}

.initial-appear.initial-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.initial-enter {
  opacity: 0.01;
}

.initial-enter.initial-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.initial-leave {
  opacity: 1;
}

.initial-leave.initial-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.button {
  border: 1px solid rgba(156, 39, 176, 0.45);
  padding: 0 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in;
  display: inline-block;
  color: #9c27b0;

  &:hover {
    background-color: #9c27b0;
    color: #fff;
  }
}
