.sidebar {
    background: #fff;
    position: fixed;
    z-index: 10;
    top: 61px;
    left: 0;
    bottom: 0;
    box-shadow: 5px 0 5px -2px rgba(156, 39, 176, 0.15);
    overflow-x: hidden;
    overflow-y: hidden;
    &:hover {
        overflow-y: auto;
    }
    &-inner {
        padding: 40px 20px 60px 20px;
    }
    .search {
        height: 30px;
        line-height: 30px;
        box-sizing: border-box;
        padding: 0 15px 0 30px;
        border: 1px solid rgba(156, 39, 176, 0.31);
        color: #2c3e50;
        outline: none;
        border-radius: 15px;
        margin-right: 10px;
        transition: border-color 0.2s ease;
        background: #fff url('./../../img/search.png') 8px 5px no-repeat;
        background-size: 20px;
        vertical-align: middle !important;
        margin-bottom: 2em;
        &:focus {
            border-color: #9C27B0;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        line-height: 1.5em;
        padding-left: 0;
        li {
            position: relative;
            padding: 5px 0px;
            padding-left: 15px;
            margin-top: 0.5em;

            ul {
                padding-left: 1em;
                font-size: 0.85em;
            }
            .item {
                color: #000;
                text-decoration: none;
                font-family: 'Catamaran', sans-serif;
                &:hover {
                    border-bottom: 2px solid #333;
                }
            }
            i {
                margin-right: 10px;
            }
        }
        .arrow {
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #d0d0d0;
            position: absolute;
            left: 0;
            top: 15px; // transition: border-width 1s ease-in-out;
            transition: transform 0.5s ease-out;
        }
        .open {
            .arrow {
                transform: rotate(90deg);
            }
        }
    }
    @media screen and (max-width: 900px) {
        position: fixed;
        z-index: 10;
        background-color: #f9f9f9;
        height: 100%;
        top: 20px;
        left: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
        -webkit-transform: translate(-280px, 0);
        transform: translate(-280px, 0);
        overflow-y: auto;
        &.open {
            transform: translate(0, 0);
        }
        .sidebar-inner {
            padding: 50px 10px 10px 20px;
            box-sizing: border-box;
        }
        ul {
            display: block;
        }
    }
}
